.patient-media {
	.media {
		background-color: $brand-primary;
		padding: 6px 0 6px 12px;
		color: #fff;
	}

	.media-object {
		font-size: 64px;
	}

	.media .patient-risk {
		@extend .pull-right;
		font-size: 48px;
		line-height: 48px;
	}

	.patient-name {
		font-size: 24px;
	}
}
