@import "../../../../elements/variables";

.huddle-filter-selector {
  .form-group-striped {
    .huddle:nth-child(odd) {
      background-color: $table-bg-accent;
    }

    .huddleGroup {
      .fa {
        line-height: 1.8em;
        margin-left: 10px;
      }

      .date-selector {
        display: block;
        margin-left: 35px;
        cursor: pointer;
      }
    }
  }
}

.pika-single {
  .pika-table {
    .is-selected .pika-button {
      background: $brand-alert;
      box-shadow: inset 0 1px 3px #CB4152;

      &.is-today .pika-button {
        color: $white;
      }
    }

    .is-today .pika-button {
      color: $brand-alert;
    }
    
    .pika-button:hover {
      background-color: darken($body-bg, 10%);
      color: $brand-secondary;
      box-shadow: none;
    }
  }
}
