@import "../../../../elements/variables";

.population-filter-selector {
  .form-group-striped {
    .population:nth-child(odd) {
      background-color: $table-bg-accent;
    }

    .population {
      .fa {
        line-height: 1.8em;
      }
    }
  }

  .add-new-filter {
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
  }
}
