@import "variables";

/* ------------------------- BUTTONS --------------------------------------- */

.btn-circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border-width: 5px;
  background-color: #fff;
  border-color: $body-bg;

  &.btn-active {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: #fff;
  }
}

.btn-primary,
.btn-secondary,
.btn-ie,
.btn-ie-lg {
  border-radius: 0;
  font-size: 20px;
  height: 45px;
}

.btn-primary,
.btn-secondary,
.btn-ie-lg {
  height: 45px;
}

.btn-primary {
  background-color: $brand-primary;
  border-color: darken($brand-primary, 10%);
}

.btn-secondary {
  background-color: $white;
  border-color: lighten($brand-secondary, 30%);
}

.fa-rounded {
  color: $brand-secondary;
  background-color: $table-bg-accent;
  border-radius: 50%;
  font-size: 14px;
  padding: 0.28em;
}
