@import "variables";

form {
  margin: 10px;
  font-size: 18px;
  font-weight: 200;
}

label {
  font-weight: 400;
  font-size: 20px;
}

input {
  padding-left: 15px;
}

/* ------------------------- CHECKBOXES & RADIO BUTTONS -------------------- */

.control-group {
  height: 100%;
  padding: 10px;
  width: 100%;

  .control {
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding-left: 35px;
    position: relative;

    &:hover input {
      background-color: darken($brand-primary, 20%);
    }

    input {
      opacity: 0;

      &:checked ~ .control-indicator:after {
        display: block;
      }
    }

    .control-indicator {
      background-color: $white;
      border: 5px solid $brand-secondary;
      height: 26px;
      left: 0;
      position: absolute;
      top: 0;
      width: 26px;

      &:after {
        background-color: $brand-primary;
        content: '';
        display: none;
        height: 12px;
        left: 2px;
        position: absolute;
        top: 2px;
        width: 12px;
      }
    }

    &.control-radio {
      .control-indicator {
        border-radius: 50%;

        &:after {
          border-radius: 50%;
        }
      }
    }

    &.control-checkbox {
      .control-indicator {
        border-radius: 20%;

        &:after {
          border-radius: 20%;
        }
      }
    }
  }
}

/* ------------------------- FORM GROUP ------------------------------------ */

.form-group {
  padding: 5px 0;

  .input-addon {
    position: relative;

    .left-addon-icon,
    .right-addon-icon {
      position: absolute;
      padding: 8px 0 8px 15px;
      pointer-events: none;
      line-height: 25px;
      color: lighten($brand-secondary, 40%);
    }
  }

  .left-addon {
    .left-addon-icon {
      left: 0;
    }

    input.login-input {
      padding-left: 40px;
    }
  }

  .right-addon {
    .right-addon-icon {
      right: 0;
    }

    input.login-input {
      padding-right: 40px;
    }
  }
}

.form-horizontal {
  margin: 0;
}

.form-group-striped {
  > .form-group:nth-child(odd) {
    background-color: $table-bg-accent;
  }

  .form-group {
    margin: 0;
    padding: 5px 2px 2px 15px;
    border-bottom: 1px solid $body-bg;

    label {
      font-size: 16px;
      line-height: 16px;
    }

    i {
      font-size: 14px;
      padding: 10px 10px 0 0;
      color: lighten($brand-secondary, 30%);
    }
  }
}

.form-input {
  border: 1px solid lighten($brand-secondary, 30%);
  border-radius: 0;
  padding-left: 50px;
  height: 40px;
  line-height: 1.5;
}
