@import "../../../elements/variables";

.patient-view-risk-aster-chart-details {
  width: 400px;
  font-size: 18px;

  @include respond-to(tablet) {
    width: 400px;
    margin: 0 auto 30px auto;
  }

  .category-name {
    font-size: 1.7em;
    text-align: center;
    padding: 10px;
  }

  .category-stat {
    margin: auto;
    @include respond-to(desktop-wide) { width: 80%; }

    .category-stat-label {
      text-align: right;
      line-height: 30px;
    }

    .category-stat-value {
      font-size: 1.2em;
      font-weight: 500;
      text-align: right;
    }
  }

  .sub-text {
    font-size: 0.9em;
    text-align: center;
  }
}
