@import "../../elements/variables";

.filter-builder-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: $grid-gutter-width;
  height: 100%;
}

.filter-builder-gutter {
  background-color: $white;
}

.filter-builder-editor {
  background-color: $white;
}

.filter-editor-drop {
  padding: 10px;
  .title {
    font-size: 1.3em;
  }
}

.filter-type {
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  margin: 15px;
  padding: 0;
  background-color: $body-bg;
  cursor: move;
  &:hover {
     background-color: $brand-primary;
     color: #fff;
   }

   .filter-type-name {
     display: inline-block;
     vertical-align: top;
   }

   .filter-type-icon {
     display: inline-block;
     font-size: 1.3em;
     margin: 0;
     width: 50px;
     text-align: center;
     background-color: $brand-primary;
     color: #fff;
   }

   .filter-type-chevron {
     float: right;
     line-height: inherit;
     padding-right: 5px;
     font-size: 0.8em;
   }
}

.pane {
  margin: 0;
  padding: 0;

  .pane-icon {
    position: relative;
    font-size: 3.25em;
    color: $brand-primary;
    border: 8px solid $body-bg;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 0 15px 0 0;
    text-align: center;

    @include respond-to(tablet) {
      font-size: 1.5em;
      width: 50px;
      height: 50px;
      padding: 2px 0;
      margin: 20px 10px 0 -8px;
    }
  }

  .pane-content {
    float: right;
    padding: 0;

    @include respond-to(desktop-wide) { width: 88%; }
    @include respond-to(desktop) { width: 84%; }
    @include respond-to(mobile) { width: 74%; }

    .pane-outline {
      margin-bottom: 10px;
      border: 8px solid $body-bg;
      min-height: 100px;

      .pointer-bottom {
        display: block;
        position: absolute;
        top: 30px;
        left: -17px;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-right: 18px solid $body-bg;
      }

      .pointer-top {
        display: block;
        position: absolute;
        top: 30px;
        left: -6px;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-right: 18px solid #fff;
      }

      .pane-close {
        padding: 5px 8px;
      }
    }
  }
}

.pane-inner-label {
  padding: 0 5px;
}

.pane-input {
  display: inline-block;

  input {
    padding: 0;
    margin: 0;
    border: 1px solid lighten($brand-secondary, 20%);

    &.age {
      width: 40px;
      text-align: center;
    }

    &.condition,
    &.encounter {
      width: 500px;
      padding-left: 10px;

      @include respond-to(tablet) { width: 230px; }
    }
  }
}
